@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    background: #f6f9ff;
    color: #444444;
}

a {
    color: #4154f1;
    text-decoration: none;
}

a:hover {
    color: #717ff5;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nunito", sans-serif;
}
/* abdelaziz */
.avance-color{
    opacity: 1;
    background-color: #6ff0b4 !important;
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
    margin-top: 60px;
    padding: 20px 30px;
    transition: all 0.3s;
  }
  
  @media (max-width: 1199px) {
    #main {
      padding: 20px;
    }
  }
  
  /*--------------------------------------------------------------
  # Page Title
  --------------------------------------------------------------*/
  .pagetitle {
    margin-bottom: 10px;
  }
  
  .pagetitle h1 {
    font-size: 24px;
    margin-bottom: 0;
    font-weight: 600;
    color: #012970;
  }


/*--------------------------------------------------------------
# Override some default Bootstrap stylings
--------------------------------------------------------------*/
/* Dropdown menus */
.dropdown-menu {
    border-radius: 4px;
    padding: 10px 0;
    -webkit-animation-name: dropdown-animate;
    animation-name: dropdown-animate;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    border: 0;
    box-shadow: 0 5px 30px 0 rgba(82, 63, 105, 0.2);
}

.dropdown-menu .dropdown-header,
.dropdown-menu .dropdown-footer {
    text-align: center;
    font-size: 15px;
    padding: 10px 25px;
}

.dropdown-menu .dropdown-footer a {
    color: #444444;
    text-decoration: underline;
}

.dropdown-menu .dropdown-footer a:hover {
    text-decoration: none;
}

.dropdown-menu .dropdown-divider {
    color: #a5c5fe;
    margin: 0;
}

.dropdown-menu .dropdown-item {
    font-size: 14px;
    padding: 10px 15px;
    transition: 0.3s;
}

.dropdown-menu .dropdown-item i {
    margin-right: 10px;
    font-size: 18px;
    line-height: 0;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #f6f9ff;
}

@media (min-width: 768px) {
    .dropdown-menu-arrow::before {
        content: "";
        width: 13px;
        height: 13px;
        background: #fff;
        position: absolute;
        top: -7px;
        right: 20px;
        transform: rotate(45deg);
        border-top: 1px solid #eaedf1;
        border-left: 1px solid #eaedf1;
    }
}

@-webkit-keyframes dropdown-animate {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    0% {
        opacity: 0;
    }
}

@keyframes dropdown-animate {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    0% {
        opacity: 0;
    }
}

/* body{
    background: #ddd; 
} */
/* Login CSS */
/* .card-body{
    padding: 30px 30px 15px 30px;
} */
.login-panel{
    margin-top: 200px;
}
.img-fluid{
    max-width:10rem;
    max-height: 100px;
}
@media (max-width:270px){
    .img-fluid{
        max-width:100%;
        max-height: 100%;
    }   
}
.form-control:focus,.form-select:focus{
    border-color:#673ab72b;
    box-shadow: 0 0 0 0.25rem rgb(65 83 241 / 10%);
    
}

/* Card */
.card {
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.card-header,
.card-footer {
    border-color: #ebeef4;
    background-color: #fff;
    color: #798eb3;
    padding: 15px;
}

.card-title {
    padding: 20px 0 15px 0;
    font-size: 18px;
    font-weight: 500;
    color: #012970;
    font-family: "Poppins", sans-serif;
}

.card-title span {
    color: #899bbd;
    font-size: 14px;
    font-weight: 400;
}

.card-body {
    padding: 0 20px 20px 20px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.logo {
    line-height: 1;
}

@media (min-width: 1200px) {
    .logo {
        width: 280px;
    }
}

.logo img {
    /* max-height: 26px; */
    margin-right: 6px;
}

.logo span {
    font-size: 20px;
    font-weight: 700;
    color: #012970;
    font-family: "Nunito", sans-serif;
}
.header {
    transition: all 0.5s;
    z-index: 997;
    height: 60px;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
    padding-left: 20px;
    /* Toggle Sidebar Button */
    /* Search Bar */
}
.header .toggle-sidebar-btn {
    font-size: 32px;
    padding-left: 10px;
    cursor: pointer;
    color: #012970;
}
/*--------------------------------------------------------------
# Header Nav
--------------------------------------------------------------*/
.header-nav ul {
    list-style: none;
}

.header-nav>ul {
    margin: 0;
    padding: 0;
}
.header-nav .nav-icon {
    font-size: 22px;
    color: #012970;
    margin-right: 25px;
    position: relative;
}
.header-nav .nav-profile {
  color: #012970;
}

.header-nav .nav-profile img {
  max-height: 36px;
}

.header-nav .nav-profile span {
  font-size: 14px;
  font-weight: 600;
}

.header-nav .badge-number {
    position: absolute;
    inset: -2px -5px auto auto;
    font-weight: normal;
    font-size: 12px;
    padding: 3px 6px;
}
.header-nav .notifications {
    inset: 8px -15px auto auto !important;
}

.header-nav .notifications .notification-item {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    transition: 0.3s;
}
/* .header-nav .notifications .notification-item i {
    margin: 0 20px 0 10px;
    font-size: 24px;
} */
.header-nav .notifications .notification-item h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}
.header-nav .notifications .notification-item p {
    font-size: 13px;
    margin-bottom: 3px;
    color: #919191;
}
.header-nav .notifications .notification-item:hover {
    background-color: #f6f9ff;
}

.header-nav .profile {
    min-width: 240px;
    padding-bottom: 0;
    top: 8px !important;
}
.header-nav .profile .dropdown-header h6 {
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 600;
    color: #444444;
}
.header-nav .profile .dropdown-header span {
    font-size: 14px;
}
.header-nav .profile .dropdown-item {
    font-size: 14px;
    padding: 10px 15px;
    transition: 0.3s;
}
.header-nav .profile .dropdown-item i {
    margin-right: 10px;
    font-size: 18px;
    line-height: 0;
}
.header-nav .profile .dropdown-item:hover {
    background-color: #f6f9ff;
}
/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 996;
    transition: all 0.3s;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
}
@media (max-width: 1199px) {
    .sidebar {
      left: -300px;
    }
}
.sidebar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #fff;
}
  
  .sidebar::-webkit-scrollbar-thumb {
    background-color: #aab7cf;
}

  @media (min-width: 1200px) {

    #main,
    #footer {
      margin-left: 300px;
    }
}
  
  @media (max-width: 1199px) {
    .toggle-sidebar .sidebar {
      left: 0;
    }
}

  @media (min-width: 1200px) {

    .toggle-sidebar #main,
    .toggle-sidebar #footer {
      margin-left: 0;
    }
  
    .toggle-sidebar .sidebar {
      left: -300px;
    }
}
.sidebar-nav {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebar-nav li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebar-nav .nav-item {
    margin-bottom: 5px;
}
.sidebar-nav .nav-link {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    color: #012970;
    transition: 0.3;
    /* background: #f6f9ff; */
    padding: 10px 15px;
    border-radius: 4px;
}
.sidebar-nav .nav-link.active,
.nav-item .nav-link.collapsed.active {
    color: #4153f1;
    background: #f6f9ff;
}
.sidebar-nav .nav-link i {
    font-size: 16px;
    margin-right: 10px;
    /* color: #4154f1; */
}
.sidebar-nav .nav-link.collapsed {
    color: #012970;
    background: #fff;
}

.sidebar-nav .nav-link.collapsed i {
    color: #899bbd;
}

.sidebar-nav .nav-link:hover {
    color: #4154f1;
    background: #f6f9ff;
}

.sidebar-nav .nav-link:hover i {
    color: #4154f1;
}
.sidebar-nav .nav-link .bi-chevron-down {
    margin-right: 0;
    transition: transform 0.2s ease-in-out;
}
.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
    transform: rotate(180deg);
}

.sidebar-nav .nav-content {
    padding: 5px 0 0 0;
    margin: 0;
    list-style: none;
    position: relative;
}
.sidebar-nav .nav-content a {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: #012970;
    transition: 0.3;
    padding: 10px 0 10px 40px;
    transition: 0.3s;
}
.sidebar-nav .nav-content a i {
    font-size: 16px;
    margin-right: 8px;
    line-height: 0;
    /* border-radius: 50%; */
}
.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a.active {
  color: #4154f1;
}

/* .sidebar-nav .nav-content a.active i {
  background-color: #4154f1;
} */

.sidebar-nav ul::before{
    content: "";
    height: 100%;
    opacity: 1;
    width: 3px;
    background: #e0f3ff;
    position: absolute;
    inset: 0 auto auto 20px;
    border-radius: 15px;
}

/*--------------------------------------------------------------
# Dashboard
--------------------------------------------------------------*/
/* Filter dropdown */
.dashboard .filter {
    position: absolute;
    right: 0px;
    top: 15px;
}

.dashboard .filter .icon {
    color: #aab7cf;
    padding-right: 20px;
    padding-bottom: 5px;
    transition: 0.3s;
    font-size: 16px;
}

.dashboard .filter .icon:hover,
.dashboard .filter .icon:focus {
    color: #4154f1;
}

.dashboard .filter .dropdown-header {
    padding: 8px 15px;
}

.dashboard .filter .dropdown-header h6 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #aab7cf;
    margin-bottom: 0;
    padding: 0;
}

.dashboard .filter .dropdown-item {
    padding: 8px 15px;
}
/* Info Cards */
.dashboard .info-card {
    padding-bottom: 10px;
}

.dashboard .info-card h6 {
    font-size: 28px;
    color: #012970;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.dashboard .card-icon {
    font-size: 32px;
    line-height: 0;
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    flex-grow: 0;
}

.dashboard .sales-card .card-icon {
    color: #4154f1;
    background: #f6f6fe;
}

.dashboard .revenue-card .card-icon {
    color: #2eca6a;
    background: #e0f8e9;
}

.dashboard .customers-card .card-icon {
    color: #ff771d;
    background: #ffecdf;
}

/*--------------------------------------------------------------
# datatable
--------------------------------------------------------------*/
/* .dataTables_wrapper .dataTables_filter input[type="search"]{
    border-color: red;
} */
#myTable_wrapper{overflow-x: auto;}

table thead tr{background-color: rgba(221, 221, 221, 0.333);}
table thead tr a,table thead tr a:hover{color: rgb(50, 50, 50);}

/* remove arrow input[type='number'] */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
}
/* laebl CSS */
/* .label-encours{
    padding: 0.5rem;
    background-color:#f0ad4e ;
} */
.dataTables_length{
    margin-bottom: 20px;
}
.dataTables_filter label input:focus{
    outline: none;
}
table.dataTable{
    border-collapse: collapse !important;
}
table thead tr{
    background-color: #fff;
}
table thead tr a{
    color: rgb(78 78 78 / 94%);
}
/* #4154f1 */
.dataTables_paginate .paginate_button{
    padding: 0.25em 0.7em !important;
    background: transparent !important;
    
}
.paginate_button:hover{
    background-color: unset !important;
    /* color: red !important; */
    /* background: red !important; */
}

/* .dataTables_wrapper .dataTables_paginate .paginate_button.current,
 .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    color: unset !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    color: unset !important;
}
*/
#test{
    color: #000 !important;
    border: 1px #ddd solid;
    border-radius: 50px;
    transition: .3s;
} 
#test.current{
    border: 1px #4154f1 solid;
}
#test.disabled{
    color: #ddd !important;
}
#test:hover:not(.disabled){
    color: unset !important;
    border: 1px #4154f1 solid;
}
.paginate_input{
    width:40px;
    border-radius: 50px;
    outline: none;
    text-align: center;
    border:1px solid #ddd;
}

/*--------------------------------------------------------------
# Devis
--------------------------------------------------------------*/
.h-line{
    width: 100%;
    height: 8px;
    background-color: #919191;
}
.invoice-logo{
    width: 200px;
    /* height: 50px; */
}

.border-dashed{
    border:2px dashed rgba(0, 0, 0, 0.175);
    
}
.borderless{
    border:none;
    width: auto;
}
#selectClientPopUp:hover{
    text-decoration: underline;
}
.selectIndvBtn,
.selectEntrepBtn,
.selectDevisBrkBtn{
    background-color: #9966cc;
    border-color: #9966cc;
}
.selectIndvBtn:hover,
.selectEntrepBtn:hover,
.selectDevisBrkBtn:hover{
    background-color: #993399;
    border-color: #993399;
}
.servicesTable tbody tr td:first-of-type:hover{
    color: red;
    cursor:pointer;
}

/* popover CSS*/
.error-popover{
    background-color: rgb(231 56 56);
}
.popover-body{
    padding: 0.3rem 0.5rem;
    color: #fff;
}
.popover-arrow::after{
    border-bottom-color: rgb(231 56 56) !important;
}

/*--------------------------------------------------------------
# Dossier CSS
--------------------------------------------------------------*/

#dossierClTable tbody tr:hover
{
    background-color: rgba(127, 111, 201, 0.326);
    cursor: pointer;
}
#dossierClTable tbody tr td{
    user-select: none;
}
.list-group-item.active{
    background-color: #4154f1c9;
    border-color: #4154f1c9;
}


/*--------------------------------------------------------------
# additional CSS
--------------------------------------------------------------*/
.border-error{
    border-color: red !important;
}
.hide-element{display: none !important;}
.approved_row{background:#bcf5bc !important;}
/* .btn-cancel-client-approve{display: none;} */
/*
    Chart css
*/
.chart-container {
    position: relative;
    margin: auto;
    height: 50vh;
    
  }

/*--------------------------------------------------------------
# Page 404 Style
--------------------------------------------------------------*/
.error-404{
    padding:30px;
}
.error-404 h1 {
    font-size: 180px;
    font-weight: 700;
    color: #4154f1;
    margin-bottom: 0;
    line-height: 150px;
    font-family: 'Courier New', Courier, monospace,sans-serif;
}
.error-404 h2 {
    font-size: 24px;
    font-weight: 700;
    color: #012970;
    margin-bottom: 30px;
}
.error-404 .btn {
    background: #51678f;
    color: #fff;
    padding: 8px 30px;
}
@media (min-width: 992px){
    .error-404 img {
        max-width: 50%;
    }
}
/*--------------------------------------------------------------
# loader
--------------------------------------------------------------*/
.loader-wrapper{
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: fixed;
    transition: 0.75s, visibility 0.75s;
    /* overflow: hidden; */
}
.loader{
    position: fixed;
    /* top: 0;
    left: 0; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #f7f9fb; */ 
    /* opacity: 0.7; */
}

.loader-hidden{
    opacity: 0;
    visibility: hidden;
}
.loader::after{
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #4153f1;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}

.payment-container{
    position: absolute;
    z-index: 1;
    right: 30px;
    /* width: 370px; */
    width: 415px;
}
@media (max-width:800px) {
    .payment-container{
        right:0px;
        width:370px;
    }
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
    padding: 20px 0;
    font-size: 14px;
    transition: all 0.3s;
    border-top: 1px solid #cddfff;
}

.footer .copyright {
    text-align: center;
    color: #012970;
}

.footer .credits {
    padding-top: 5px;
    text-align: center;
    font-size: 13px;
    color: #012970;
}


#expSitBtn .dropdown-menu li {
position: relative;
}
#expSitBtn .dropdown-menu .dropdown-submenu {
display: none;
position: absolute;
right: 100%;
top: -7px;
}
#expSitBtn .dropdown-menu .dropdown-submenu-left {
right: 100%;
left: auto;
}
#expSitBtn .dropdown-menu > li:hover > .dropdown-submenu {
display: block;
}